.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    text-align: center;
    padding: 15px;
}

.card-title {
    font-size: 1.2rem;
    font-weight:normal;
    margin-top: 10px;
}
